[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.0"
matplotlib = "==3.3.4"
kwcoco = "==0.1.10"
pytest = "==6.2.2"

[dev-packages]

[requires]
python_version = "3.8"
